mixin outputCPD(cpd)
  - for(var i=0;i<cpd;i++)
    span.glyphicon.glyphicon-star
  - for(var i=cpd;i<16;i++)
    span.glyphicon.glyphicon-star-empty

mixin courseRating(rating)
  - for(var i=0;i<rating;i++)
    span.glyphicon.glyphicon-star