extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
          br
          small &nbsp;#{pageHeader}
  .row
    .col-xs-12.col-sm-8
      p Users area.
    .col-xs-12.col-sm-4
      p.lead CDR helps you manage your CPDs within your organization.
      