doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js') 
  body
    .navbar.navbar-default.navbar-fixed-top  
      .container
        .navbar-header
          a.navbar-brand(href='/') CPD
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About
          ul.nav.navbar-nav 
            li
              a(href='/users/1') User
          ul.nav.navbar-nav.navbar
            li         
              a(href='/admin') Admin
          ul.nav.navbar-nav.navbar
            li         
              a(href='/cpd')  cpd
          ul.nav.navbar-nav.navbar
            li         
              a(href='/course')  course
          ul.nav.navbar-nav.navbar-right    
            li 
              a(href='/signin') Sign in
    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; by RMLabs

